<h1 class="mt-5 mb-5 mr-auto ml-auto text-center">Think you can come up with better burgers than Bob? Lets see what you've got!</h1>


<div class="container">

    <div class="row mb-5">

      <div class="col-sm-7 mr-4">

        <h2>Completed Orders:</h2>
          <ul>
            {{#each burgers}}
              {{#unless isEaten}}
                {{> burgerMaker}}
              {{/unless}}
            {{/each}}
          </ul>

        </div>

        <div class="col-sm-4">


            <h2>Previous Orders:</h2>


            <ul>
              {{#each burgers}}
                {{#if isEaten}}
                  {{> eatenBurgers}}
                {{/if}}
              {{/each}}
            </ul>

          </div>


  </div>

  <div class="row">

      <div class="col-sm-6">

          <img src="https://vignette.wikia.nocookie.net/bobs-burgers-fanon/images/5/51/Bob_with_a_burger.png/revision/latest?cb=20170920181424" class="w-100 h-auto">

      </div>

    <div class="col-sm-6 mr-auto ml-auto">
      
      <h2>Add a Burger:</h2>
      <form class="create-form">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="burgername" name="name">
        </div>

        <button type="submit" id="add-burger">Add Burger</button>
      </form>

    </div>

  </div>

</div>


<script>

$(function() {
  $(".devour-it").on("click", function(event) {
    var id = $(this).data("id");
    var eaten = $(this).data("isEaten");

    var devoured = {
      isEaten: eaten
    };

    // Send the PUT request.
    $.ajax("/devour/" + id, {
      type: "PUT",
      data: devoured
    }).then(
      function() {
        console.log("Successfully devoured the Burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

    $("#add-burger").on("click", function(event) {
      event.preventDefault();
      var name = $("#burgername").val().trim();
      console.log(name)
      var newBurger = {
        isEaten: false,
        name: name
      };

      console.log(newBurger);

        $.ajax("/addBurger/", {
            type: "POST",
            data: newBurger
        }).then(
      function() {
        console.log(`Inserted the ${name}`);
        // Reload the page to get the updated list
        location.reload();
      }
    );

    });

});

</script>

