<h1>Welcome to Good Burger, Home of the Good burger, May I take your Order?</h1>

<h2>Completed Orders:</h2>

<ul>
  {{#each burgers}}
    {{#unless isEaten}}
      {{> burgerMaker}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Previous Orders:</h2>


<ul>
  {{#each burgers}}
    {{#if isEaten}}
      {{> eatenBurgers}}
    {{/if}}
  {{/each}}
</ul>




<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burgername" name="name">
  </div>

  <button type="submit" id="add-burger">Order Burger</button>
</form>

<script>

$(function() {
  $(".devour-it").on("click", function(event) {
    var id = $(this).data("id");
    var eaten = $(this).data("isEaten");

    var devoured = {
      isEaten: eaten
    };

    // Send the PUT request.
    $.ajax("/devour/" + id, {
      type: "PUT",
      data: devoured
    }).then(
      function() {
        console.log("Successfully devoured the Burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

    $("#add-burger").on("click", function(event) {
      event.preventDefault();
      var name = $("#burgername").val().trim();
      console.log(name)
      var newBurger = {
        isEaten: false,
        name: name
      };

      console.log(newBurger);

        $.ajax("/addBurger/", {
            type: "POST",
            data: newBurger
        }).then(
      function() {
        console.log(`Inserted the ${name}`);
        // Reload the page to get the updated list
        location.reload();
      }
    );

    });

});

</script>

